/* 通常のスタイル（英語バージョン） */
/* 以下のセレクターは日本語バージョンの要素には適用されないようにする */
[data-jp] {
    display: none;
}

/* スマートフォン用のスタイル */
@media screen and (max-width: 767px) {
    /* 同様に日本語バージョンの要素には適用されないようにする */
    [data-jp] {
        display: none;
    }
}

/* 日本語バージョンの要素に適用するスタイル */
html[lang="ja"] [data-en] {
    display: none;
}

/* スマートフォン用の日本語バージョンの要素に適用するスタイル */
@media screen and (max-width: 767px) {
    html[lang="ja"] [data-en] {
        display: none;
    }
}
